.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  padding: 3rem;
  border-style: solid;
  border-color: yellow;
  border-radius: 1rem 1rem 0 0;
}

.backToHome {
  margin: 3rem 0 0;
}

.resumeContact {
  display: flex;
}