.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.listHeader {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.listHeader li {
  padding: 0 1rem 0 0;
  
}

.listHeader li:hover {
  
}

.listItem {
  margin: 0 0 1.25rem;
  
}

.lightText {
  color: #666;
}

.lightBackground {
  background-color: rgb(34, 196, 196);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
}
.whiteBackground {
  background-color: white;
  padding: 2rem;
  border-bottom-style: solid;
  border-radius: 1rem 1rem 0 0;
}

.whiteText {
  color: white;
  font-weight: 500;
  font-size: x-large;
  padding: 0 1rem 0 1rem;
  
}

.aboutMe {
  border-radius: 0 0 1rem 1rem;
  border-style: solid;
  border-color: yellow;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.aboutTitle {
  color: white;
  padding: 0 0 0 1rem;

}

.aColorBlk {
  color: black;
}